<div class="content" ng-app="touradvisor" ng-controller="newPlaceCtrl">
        
    <div class="alert alert-danger text-center" role="alert" ng-show="apiError">
        <b>API Error : </b>
        <span>{{ apiStatus }}</span>
    </div>
        
    <form name="searchForm" novalidate ng-submit="search()">
        <div class="input-group">
            <input name="place" type="text" class="form-control" ng-model="searchPlace" placeholder="Search Your Destination Here..." required autofocus />
            <span class="input-group-btn">
                <button style="height:34px; margin-top:10px" class="btn btn-success" ng-disabled="searchForm.$invalid">Search</button>
            </span>
        </div>
    </form>
            
    <div id="map"></div>
          
    <form name="resForm" class="form-horizontal" novalidate ng-submit="send()">
        <div class="form-group">
            <label for="resName" class="col-xs-2 control-label">Location Name:</label>
                <div class="col-xs-10">
                    <input name="resName" type="text" class="form-control" ng-model="place.name" required />
                </div>
        </div>
        
        <div class="form-group">
            <label for="resLat" class="col-xs-2 control-label">Location Latitude:</label>
            <div class="col-xs-10">
                <input name="resLat" type="number" class="form-control" ng-model="place.lat" required />
            </div>
        </div>
            
        <div class="form-group">
            <label for="resLng" class="col-xs-2 control-label">Location Longitude:</label>
            <div class="col-xs-10">
                <input name="resLng" type="number" class="form-control" ng-model="place.lng" required />
            </div>
        </div>
    </form>
</div>